:root {
    --closed: 4%;
    --open: 15%;
    --wide: 96%;
    --narrow: 85%;
    --white: rgb(244, 242, 236);
    --black: rgb(22,22,24);
    --gray: rgb(33,33,36);
  }

html {
    background-color: rgb(33,33,36);
    overflow: auto;
    scrollbar-gutter: stable;
}


.home {
    height: 100%;
    padding-top: 20px;
    width: var(--narrow);
    position: absolute;
    margin-left: var(--open);
    padding-left: 20px;
    z-index: 1;
    transition: 0.7s ease;
    overflow-y:scroll;
    overflow-x: hidden;
}
.home.closed {
    height: 100%;
    padding-top: 20px;
    width: var(--wide);
    position: absolute;
    margin-left: var(--closed);
    padding-left: 20px;
    z-index: 1;
    transition: 0.7s ease;
    overflow-x: hidden;
    overflow-y: scroll;
}