:root {
    --wide: 96%;
    --narrow: 85%;
    --white: rgb(244, 242, 236);
    --black: rgb(22,22,24);
    --gray: rgb(33,33,36);
  }

html {
    background-color: rgb(33,33,36);
}


.main-home {
    padding-top: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home {
    display: grid;
    grid-template-columns: 1fr var(--narrow);
    height: 100vh;
    transition: 0.7s ease;
}

.home.closed {
    grid-template-columns: 1fr var(--wide);
}
