

html {
    background-color: var(--primary_color);
}


.main-home {
    padding-top: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home {
    display: grid;
    grid-template-columns: 1fr var(--narrow);
    height: 100vh;
    transition: 0.7s ease;
}

.home.closed {
    grid-template-columns: 1fr var(--wide);
}
