.popup {
    position: fixed;
    background-color: var(--txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    width: 70%;
    border-radius: 2em;
    margin-top: 5%;
    z-index: 2;
}
.popup-inner >p {
    color: var(--primary-color);
}


.popup-inner {
    position: relative;
    padding: 10px;
    width: 80%;
    color: var(--primary-color);
}

.popup-inner > button {
    background-color: var(--primary-color);
    outline-width: 0cap;
    color: var(--txt-color);
    padding: 4px;
    border-radius: 10%;
}