.sidenav-container {
    margin-top: 0;
    z-index: 1;
    background-color: var(--secondary-color);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    align-items: right;
}


.sidenav-container > a {
    color: var(--txt-color);
    font-size: 1em;
}
.sidenav-container > a:hover {
    text-shadow:
      0 0 7px var(--txt-color),
      0 0 10px var(--txt-color);
}

.sidenav-container > h1 {
    color: var(--txt-color);
    font-size: 1em;
}

img {
    border-radius: 10px;
} 

.sidenav-open {
    height: 100%;
    width: 250px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .sidenav-open > a {
      color:var(--txt-color);
      font-size: 1em;
  }
  .sidenav-open > a:hover {
      text-shadow:
        0 0 7px var(--txt-color),
        0 0 10px var(--txt-color);
  }
  
  .sidenav-open > h1 {
      color: var(--txt-color);
      font-size: 2cap;
  }

.menu-icon {
    align-self: flex-end;
}