.sidenav-container {
  height: 100%;
  width: var(--open);
  margin-top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgb(22,22,24);
  transition: 0.7s ease;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  align-items: right;
}
.sidenav-container.closed {
    width: var(--closed);
}

.sidenav-container > a {
    color: var(--white);
    font-size: 1em;
}
.sidenav-container > a:hover {
    text-shadow:
      0 0 7px var(--white),
      0 0 10px var(--white);
}

.sidenav-container > h1 {
    color: var(--white);
    font-size: 2cap;
}

img {
    margin-top: 50px;
    border-radius: 10px;
} 

.sidenav-open {
    height: 100%;
    width: 250px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    background-color: rgb(22,22,24);
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .sidenav-open > a {
      color:var(--white);
      font-size: 1em;
  }
  .sidenav-open > a:hover {
      text-shadow:
        0 0 7px var(--white),
        0 0 10px var(--white);
  }
  
  .sidenav-open > h1 {
      color: var(--white);
      font-size: 2cap;
  }

.menu-icon {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 2;
    right: 0;
}